<div class="car-card">
  <div class="car-specs">
    <h3><%= link_to car.brand, car_path(car) %></h3>
    <h4><%= car.model %></h4>
    <p><%= car.year %></p>
    <% if car.fuel.present? %>
      <p>Fuel: <%= car.fuel.capitalize %></p>
    <% end %>
    <p><%= car.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
  </div>
  <div class="car-img">
  </div>
  <div class="owner-badge">
    <%= car.owner.nickname %>
  </div>
</div>
