<!--might want to move car-card class to individual view so we can fit more inside-->
<div class="car-card">
  <div class="car-specs">
    <h3><%= link_to "#{car.brand} #{car.model}", car_path(car) %></h3>
    Year: <%= car.year %><br>
    <% if car.fuel.present? %>
      Fuel: <%= car.fuel.capitalize %><br>
    <% end %>
    <em style="font-size: 14px"><%= car.created_at.strftime("%A, %d %b %Y %l:%M %p") %></em>
  </div>
  <div class="car-img" style="background-image: url(<%= car.image_url %>)">
    <!--Yield to insert favorite button-->
    <%= yield :favorite %>
  </div>
  <div class="new-review-section d-flex justify-content-end">
    <div class="pe-3">
      <div class="owner-badge">
        <%= car.owner.nickname %>
      </div>
    </div>
    <!--Add yield in here so that we can insert whole form on show,
    but on index, only a button that links to the review form section of the show page?-->
  </div>
</div>
