<h3><%= @car.brand %></h3>
<h4><%= @car.model %></h4>
<p><%= @car.year %></p>
<p><%= @car.fuel %></p>
<p><%= @car.created_at %></p>
<p><%= @car.owner.nickname %></p>

<% if 'pseudo code if @favorite.car !== @car' %>
  <%= simple_form_for [@car, @favorite] do |f| %>
    <%= f.submit 'Add to favorites <3' %>
  <% end %>
<% end %>

<% @car.reviews.each do |review| %>
  <%= review.comment %>
  <%= review.rating %>
<% end %>

<h4>Leave a comment:</h4>
<%= simple_form_for [@car, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating, collection: (1..5) %>
  <%= f.submit 'Submit' %>
<% end %>
