<h3><%= @car.brand %></h3>
<h4><%= @car.model %></h4>
<p><%= @car.year %></p>
<p><%= @car.fuel %></p>
<p><%= @car.owner.nickname %></p>


<% @car.reviews.each do |review| %>
  <%= review.comment %>
  <%= review.rating %>
<% end %>

<h4>Leave a comment:</h4>
<%= simple_form_for [@car, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating, collection: (1..5) %>
  <%= f.submit 'Submit' %>
<% end %>
