<!--Can I adapt the partial on this page?-->
<!--Because I'll want to add to it with the favorite button and comments etc-->
<%= render 'car', car: @car %>

<% if @car.favorites.empty? %>
  <%= simple_form_for [@car, @favorite] do |f| %>
    <%= f.submit 'Add to favorites <3' %>
  <% end %>
<% else %>
  <p>This car is already in your garage</p>
<% end %>

<% @car.reviews.each do |review| %>
  <%= review.comment %>
  <%= review.rating %>
<% end %>

<h4>Leave a comment:</h4>
<%= simple_form_for [@car, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating, collection: (1..5) %>
  <%= f.submit 'Submit' %>
<% end %>
