<!--Can I adapt the partial on this page?-->
<!--Because I'll want to add to it with the favorite button and comments etc-->
<div class="card-container">
  <div class="car-card">
    <%= render 'car', car: @car, favorite: @favorite%>

    <!--Make bootstrap list-->
    <ul class="list-group list-group-flush">
      <% @car.reviews.each do |review| %>
        <li class="list-group-item d-flex flex-row justify-content-between">
          <span><%= review.comment %></span>
          <span>
            <% if review.rating.present? %>
              <%= "★" * review.rating %>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>


    <div class="new-review-section">
      <p class="comment-btn">Leave a comment:</p>
      <!--drop down-->
      <div class="review-form">
        <%= simple_form_for [@car, @review] do |f| %>
          <%= f.input :comment %>
          <%= f.input :rating, collection: (1..5) %>
          <%= f.submit 'Submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
